@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 15% 4%;
    --foreground: 0 0% 98%;
    --card: 240 15% 4%;
    --card-foreground: 0 0% 98%;
    --popover: 240 15% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.5rem;

    --brand: 250 84% 67%;
    /* #7c6bff */
    --brand-foreground: 250 84% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-[#07070f] text-foreground;
  }
}

@layer utilities {
  .delay-100 {
    animation-delay: 100ms;
  }

  .delay-300 {
    animation-delay: 300ms;
  }

  .delay-700 {
    animation-delay: 700ms;
  }

  .delay-1000 {
    animation-delay: 1000ms;
  }
}